{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_eledia_telc_coursesearch/main

    This template renders the main content area for the eledia_telc_coursesearch block.

    Example context (json):
    {}
}}

<div id="block-eledia_telc_coursesearch-{{uniqid}}" class="block-eledia_telc_coursesearch block-cards" data-region="eledia_telc_coursesearch" role="navigation">
    <hr class="mt-0"/>

    <div role="search" data-region="filter" class="d-flex align-items-center my-2" aria-label="{{#str}} aria:controls, block_eledia_telc_coursesearch {{/str}}">
        <div class="row g-0">
            {{> block_eledia_telc_coursesearch/nav-grouping-selector }}

            {{> block_eledia_telc_coursesearch/nav-search-widget }}

            {{> block_eledia_telc_coursesearch/nav-sort-selector }}

            {{#displaydropdown}}
                {{> block_eledia_telc_coursesearch/nav-display-selector }}
            {{/displaydropdown}}
        </div>
    </div>

    <div class="container-fluid p-0">
        {{> block_eledia_telc_coursesearch/courses-view }}
    </div>
</div>
{{#js}}
require(
[
    'jquery',
    'block_eledia_telc_coursesearch/main',
],
function(
    $,
    Main
) {
    var root = $('#block-eledia_telc_coursesearch-{{uniqid}}');
    Main.init(root);
});
{{/js}}
