{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_eledia_telc_coursesearch/nav-category-selector

    This template renders grouping dropdown.

    Example context (json):
    {
        "allincludinghidden": false,
        "all": true,
        "inprogress": false,
        "future": false,
        "past": false,
        "favourites": false,
        "hidden": false,
        "displaygroupingallincludinghidden": false,
        "displaygroupingall": true,
        "displaygroupinginprogress": true,
        "displaygroupingfuture": true,
        "displaygroupingpast": true,
        "displaygroupingfavourites": true,
        "displaygroupinghidden": true,
        "displaygroupingselector": true
    }
    Example context (json):
    "categories" : {
        [
            {
                "id": 1,
                "name": "categoryname"
            }
        ]
    }
}}
<div class="col-md-3 collapse-filter collapse-filter collapse-enabled">
    <div class="dropdown categorysearch mb-1">
        <div class="mb-1 flex-grow-1 catprevent">
            {{< block_eledia_telc_coursesearch/search-input-auto-categories }}
                {{$label}}{{#str}}
                    searchcategories, block_eledia_telc_coursesearch
                {{/str}}{{/label}}
                {{$placeholder}}{{#str}}
                    searchcategories, block_eledia_telc_coursesearch
                {{/str}}{{/placeholder}}
            {{/ block_eledia_telc_coursesearch/search-input-auto-categories }}
        </div>
        <div class="category-droprown-container">
            {{> block_eledia_telc_coursesearch/nav-category-dropdown }}
        </div>
    </div>
</div>
