{{!
    @template block_eledia_telc_coursesearch/nav-selected-option-items

    This template renders the always visible selected option items.

    Example context (json):
    {}
}}
{{#options}}
<div class="mb-3 col-mb-3" style="padding-left: 15px;">
	<span class="badge bg-secondary text-white d-inline-flex align-items-center px-2 py-1">
		{{description}}
		<button type="button" class="selected-option-cancelbtn btn btn-sm btn-link p-0 ms-1 text-white" aria-label="{{#str}} remove, core {{/str}}" data-type="{{type}}" data-cindex="{{cindex}}"
			data-index="{{index}}">
			{{#pix}} e/cancel, core {{/pix}}
		</button>
	</span>
</div>
{{/options}}
