/* Hide the first dropdown-divider if no filter option element is listed before it.
   This can happen for some subset configurations of the block_eledia_telc_coursesearch course filter. */
.block_eledia_telc_coursesearch button#groupingdropdown + .dropdown-menu li:first-of-type.dropdown-divider:first-of-type {
    display: none;
}
.block_eledia_telc_coursesearch .whitebutton .btn-secondary {
    background: white;
    border-color: var(--primary);
    color: var(--primary);
}

.page-mycourses .block_eledia_telc_coursesearch .block-controls {
    display: none;
}

.block_eledia_telc_coursesearch .list-image, .block_eledia_telc_coursesearch .summary-image {
    height: 5rem;
    width: 20rem;
    background-position: center;
    background-size: cover;
}
